* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.section {
    background:#e2e4e9;
    padding-bottom: 550px;
}


.container__title {
    margin: 0 auto;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    width: 520px;
    padding-top: 300px;
}


.main__container{
    /* border: 2px solid orange; */
    border-radius: 20px;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container__layering {
    max-width: 1000px;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    /* border: 1px solid yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame__1 {
    width: 650px;
    height: 400px;
    background: rgb(206, 213, 209);
    position: absolute;
    z-index: 2;
    border-radius: 20px;
    top: 30%;
}

.frame__2 {
    width: 700px;
    height: 400px;
    background: rgb(177, 172, 172);
    position: absolute;
    z-index: 3;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 400;
    font-size: 30px;
    padding: 0 40px;
}


.frame__3 {
    width: 600px;
    height: 400px;
    background: rgb(162, 161, 167);
    position: absolute;
    top: 35%;
    z-index: 1;
    border-radius: 20px;
}


.img__1 {
    position: absolute;
    top: 70%;
    left: 10%;
}

.img__2 {
    position: absolute;
    top: 15%;
    left: 50%;
}

.img__3 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   opacity: 60%;
}

.img__4 {
    position: absolute;
    top: 10%;
    left: 10%;
}


.img__5 {
    position: absolute;
    top: 10%;
    right: 10%;
}

.img__6 {
    position: absolute;
    top: 50%;
}

.img__7 {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%,-50%);
}

.img__8 {
    position: absolute;
    top: 80%;
    left: 10%
}

.img__9 {
    position: absolute;
    top: 80%;
    right: 15%;
}

.img__10 {
    position: absolute;
    top: 90%;
    left: 60%;
}

.img__11 {
    position: absolute;
    top: 90%;
    left: 65%;
}